{{ with $service := .}}
// Package classification {{$service.Name}}
//
// {{$service.Description}}
//
//     Schemes: http
//     BasePath: /{{$service.Name}}
//     Version: 1.0.0
//     Host: localhost:5000
//
//     Consumes:
//     - application/json
//
//     Produces:
//     - application/json
//
//
//
// swagger:meta
package docs
{{end}}